body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("images/userlogin.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  }
  header {
    background-color: #07936e;
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 80px auto 0; /* Adjusted margin top */
    background: transparent;
    backdrop-filter: blur(10px) ; /* Glassmorphism effect */
}
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    background-color: #11d36c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #098b46;
  }
  
  footer {
    color: #f2f2f2;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(10px) ; /* Glassmorphism effect */
  }
  